@charset "ISO-8859-1";
.radio-buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.radio-button {
  padding: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
  font-size: 14px;
  color: #0F0243;
  cursor: pointer;
  font-family: monospace;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px double #000;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(1.1);
  border: 4px solid #0F0243;
  color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
  color: #004432;
  font-weight:bold;  
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #003597;
  box-shadow: 0 0 10px #0F0243;
}

