@charset "ISO-8859-1";
body {
	background: url(images/first.png);
	background-repeat:no-repeat;
	background-size:100%;
	padding: 0;
	margin: 0;
	
}

h1 {
	margin: 5%;
	text-align: center;
	padding : 20px 60px;
	letter-spacing: 2px;
	font-size: 50px;
}
h2 {
	text-align: center;
	letter-spacing: 6px;
	padding : 15px ;
	font-size: 26px;
}

.adim_img {
	margin-left: 0px;
	
}

.std_img {
	margin-left: 80px;
}

.std_img a img, .adim_img a img {
background-blend-mode: multiply;
	width: 180px;
	
}

a img:hover {
	transform: scale(1.15);
	
}

.img {
	display: flex;
	justify-content: center;
mix-blend-mode: multiply;
}